body {
  font-size: 16px;
}

.list {
  background-color: whitesmoke;
  width: 100%;

  display: inline-block;
  margin: 2px;
}

.grid {
  background-color: whitesmoke;
  width: 33%;

  display: inline-block;
  margin: 2px;
}

.postHeader {
  background-color: rgb(219, 116, 133);
  text-align: center;
  color: white;
  padding-bottom: 40px;
  padding-top: 10px;
}

.body {
  width: 80%;
  margin: 0 auto;
}

.buttonToChange {
  color: white;
  background: none;
  border: none;
  margin-bottom: 45px;

  position: relative;
  float: right;
  margin-right: 50px;
}

.buttonMedium {
  font-size: 30px;
}
.userText-f {
  background-color: rgb(221, 171, 171);
}
.userText {
  border-color: blanchedalmond;
}

.reload {
  background: none;
  border: none;
  color: white;
}
