body {
  font-size: 16px;
}

.dropdownli {
  background-color: antiquewhite;
}

.list {
  background-color: whitesmoke;
  width: 100%;

  display: inline-block;
  margin: 2px;
}

.grid {
  background-color: whitesmoke;
  width: 33%;

  display: inline-block;
  margin: 2px;
}

.postHeader {
  background-color: rgb(219, 116, 133);
  text-align: center;
  color: white;
  padding-bottom: 40px;
  padding-top: 10px;
}

.body {
  width: 80%;
  margin: 0 auto;
}

.buttonToChange {
  color: white;
  background: none;
  border: none;
  margin-bottom: 45px;

  position: relative;
  float: right;
  margin-right: 50px;
}

.buttonMedium {
  font-size: 30px;
}
.userText-f {
  background-color: rgb(221, 171, 171);
}
.userText {
  border-color: blanchedalmond;
}

.reload {
  background: none;
  border: none;
  color: white;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.inputPlace {
  display: block;
  padding: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid grey;
  width: 97%;
  margin-left: 20px;
}

.fafa {
  float: left;
  position: absolute;
}
