.postHeader {
  background-color: rgb(214, 112, 160);
  color: white;
  text-align: center;
}

.footer {
  background-color: rgb(214, 112, 160);
  text-align: center;
  color: white;
}

.body {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.userInfo {
  padding: 5px;
  padding-left: 5%;
  border-bottom: 20px solid white;
  background-color: lightgrey;
}

.photo {
  border-radius: 50%;
}

/* .userText {
  display: flex;
  float: right;
  justify-content: space-between;
} */
